.Card {
    padding: 15px;
    box-shadow: 0 2px 2px -1px #FD951FCC;
    margin: 15px 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    background-color: #1A1A1C;
    transition: .4s;
}

.Card.is-dragging {
    cursor: move;
    opacity: .3;
}

.Card .status {
    width: 30px;
    height: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.Card .status.green {
    background-color: #23D2AC;
}

.Card .status.blue {
    background-color: #33ADFF;
}

.Card .status.red {
    background-color: #F51010;
}
