* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #130F0D;
    color: #FFF;
}

.Boards {
    display: flex;
    margin-top: 32px;
    justify-content: left;
}
